.App {
    text-align: center;
}

#navbar {
    background-color: red;
    height: 50px;
    width: 100%;
}

#templateBox {
    margin-left: 100px;
    width: 900px;
    height: 300px;
    border: 1px solid black;
    display: inline-block;
}

#BoxOben {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    background-color: red;
    width: 900px;
    height: 30px;
    padding-bottom: 0px;
}

#BoxRand {
    margin-top: -87px;
    margin-right: 870px;
    display: inline-block;
    background-color: red;
    width: 30px;
    height: 300px;
}

#raum {
    display: inline;
    margin: 0px;
    padding: 0px;
}

#colorPoint {
    margin: 30px 30px;
    width: 30px;
    height: 30px;
    top: 100px;
    left: 250;
    border: 1px solid black;
    text-align: center;
    border-radius: 15px;
}

.App-logo {
    height: 30px;
    margin: 0px;
    padding: 0px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}